.activityContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  text-align: center;
}

.activity {
  margin-top: 0.3rem;
  font-size: 20px;
  font-weight: bolder;
}

.activityPic > img {
  height: 200px;
}
